<div>
<img src="img/background.jpg" style="width: 100%" style="height:100%" />
</div>
    <div id="transparentBox">
    </div>

    <div id="formBox" ng-app="app.loginform" ng-controller="login.controller as loginctrl">
        <form novalidate name="loginForm" class="form">
            <div class="form-group col-xs-12">
                <img src="../../../img/logo.gif"/>
            </div>
            <div class="form-group col-xs-12" ng-if="showLoginAlert">
                <div class="alert alert-danger">
                    <p>Wrong email or password</p>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <input type="email" name="email" placeholder="Email" ng-model="loginctrl.user.email" required>
                <p class="error" ng-show="loginForm.email.$invalid && loginForm.psw.$touched"> Please, enter a valid
                    email</p>
            </div>
            <div class="form-group col-xs-12">
                <input type="password" name="psw" placeholder="Password" ng-model="loginctrl.user.password" required>
                <p class="error" ng-show="loginForm.psw.$invalid && loginForm.psw.$touched"> Please, enter password</p>
            </div>
            <div class="form-group col-xs-12">
                <div class="form-group col-xs-12">
                    <button type="button" class="btn btn-info form-control" id="loginBtn" ng-click="loginctrl.login()">
                        Log in
                    </button>
                </div>
                <button type="button" class="btn btn-primary form-control" id="loginBtnFb">Log in using Facebook
                </button>
            </div>
            <div class="form-group col-xs-12">
                <h5>You don't have account? <a href="#" id="registerLink">Register here</a></h5>
            </div>

        </form>
    </div>
