<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta charset="utf-8"/><meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Make test</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/toastr.css"/>
    <link rel="stylesheet" href="css/home.css"/>

    <script src="js/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/toastr.js"></script>

</head>
<body ng-app="makeTest">
<!--HEADER-->
<div>
    <img src="img/cover.jpg" style="width: 100%" />
</div>

<!--MENU-->
<nav class="navbar navbar-inverse" ng-controller="UserController as user" ng-init="init()">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="#createTest"><span class="glyphicon glyphicon-file"></span> Create Test</a></li>
            <li><a href="#myProfile"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
        </ul>
        <div class="col-sm-3 col-md-3">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q"/>
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="user.logout()" href="#" id="logoutBtn"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<!--CONTENT-->
<section class="container-fluid">
    <div class="headline-head full-width flex-center flex-h">
        <div class="partial-view full-width">
            <div ng-view="true"></div>
        </div>
    </div>
</section>

<!--FOOTER-->
<div class="navbar navbar-fixed-bottom navbar-inverse">
    <p style="color: #cccccc; text-align: center">&copy; 2016 Copyright by <strong>KMJ</strong>. All rights reserved.</p>
</div>

<!--Angular-->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/app.routes.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-cookies.js"></script>

<!--Angular controllers-->
<script src="js/controllers/app.controllers.js"></script>
<script src="js/controllers/controller.user.js"></script>


<!--Angular services-->
<script src="js/services/app.service.js"></script>
<script src="js/services/service.user.js"></script>

</body>
</html>