<!--<html>-->
<!--<head>-->
    <!--<title>Make your test - Registration page</title>-->
    <!--<meta charset="utf-8"/>-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->

    <!--<link rel="stylesheet" href="css/indexStyle.css"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="css/toastr.css"/>-->

    <!--<script src="js/vendor/jquery-3.1.1.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src="js/vendor/toastr.js"></script>-->
    <!--<script src="js/registration.js"></script>-->
<!--</head>-->
<!--<body background="/img/background.jpg">-->
<!--<div id="transparentBox">-->
<!--</div>-->
<!-- -<div id="formBox" ng-app="app.registerForm" ng-controller="register.controller">-->
    <!--<form>-->
        <!--<div class="form-group col-xs-12">-->
            <!--<img src="/img/logo.gif"/>-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12">-->
            <!--<input type="text" class="form-control" placeholder="E-mail address" id="email">-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12">-->
            <!--<input type="text" class="form-control" placeholder="First name" id="firstName">-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12">-->
            <!--<input type="text" class="form-control" placeholder="Last name" id="lastName">-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12" >-->
            <!--<input type="password" class="form-control" placeholder="Password" id="pwd">-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12" >-->
            <!--<input type="password" class="form-control" placeholder="Repeat password" id="repeatPwd">-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12">-->
             <!--<button type="button" class="btn btn-info form-control" id="loginBtn" ng-click="login()">Log in</button>-->
        <!--</div>-->

        <!--<div class="form-group col-xs-12">-->
            <!--<button type="button" class="btn btn-info form-control" id="registerBtn">Register</button>-->
        <!--</div>-->
        <!--<div class="form-group col-xs-12">-->
            <!--<h5>You already have account? <a href="#" id="loginLink">Log in here</a></h5>-->
        <!--</div>-->

    <!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->