<html>
<head>
    <title>Make your test - Registration page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="css/indexStyle.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/toastr.css"/>

    <script src="js/vendor/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/vendor/toastr.js"></script>
    <script src="js/registration.js"></script>
</head>
<body background="/img/background.jpg">
<div id="transparentBox">
</div>
-<div id="formBox" ng-app="app.registerform" ng-controller="register.controller">
    - <form novalidate name="registerForm" class="form" >
        <div class="form-group col-xs-12">
            <img src="/img/logo.gif"/>
        </div>
        <div class="form-group col-xs-12">
            <p class="error" ng-show="myform.email.$invalid && myform.psw.$touched"> Please, enter a valid email</p>
            <input type="email" name="email"  placeholder="Email" ng-model="user.email" required>
        </div>
        <div class="form-group col-xs-12">
            <p class="error" ng-show="myform.firstname.$invalid && myform.firstname.$touched"> Please, enter your first name</p>
            <input type="text" name="firstname" ng-model="user.firstname"placeholder="First Name" required>
        </div>
        <div class="form-group col-xs-12">
            <p class="error" ng-show="myform.lastname.$invalid && myform.lastname.$touched"> Please, enter your last name</p>
            <input type="text" name="lastname" ng-model="user.lastname"placeholder="Last Name" required>
        </div>
        <div class="form-group col-xs-12" >
            <p class="error" ng-show="myform.psw.$invalid && myform.psw.$touched"> Please enter password</p>
            <input type="password" name="psw" placeholder="Password" ng-model="user.password" required>
        </div>
        <div class="form-group col-xs-12" >
            <p class="error" ng-show="myform.psw.$invalid && myform.psw.$touched"> Please repeat password</p>
            <input type="password" name="psw" placeholder="RepeatPassword" ng-model="user.repeatpassword" required>
        </div>
        <div class="form-group col-xs-12">
            <button type="button" class="btn btn-info form-control" id="registerBtn" ng-click="register()">Register</button>
        </div>
        <div class="form-group col-xs-12">
            <h5>You already have account? <a href="#" id="loginLink">Log in here</a></h5>
        </div>

    </form>
</div>
</body>
</html>